DATABASE_URL=sqlite:///./gymai.db
SECRET_KEY=evPMUP8avRsjbBrjfDpRW906NapNzcbYJDfJO25pSZM0vb7fkSsqcJ5zxVKdBqpcCuEKSSBoHviCjhaQDySO9A
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:5173

# SMTP (required for forgot-password emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sreehithareddypuli@gmail.com
SMTP_PASSWORD=hasmwbonlqhdmwhv
SMTP_FROM=sreehithareddypuli@gmail.com
SMTP_USE_TLS=true

PASSWORD_RESET_EXPIRE_MINUTES=10
PASSWORD_RESET_RESEND_SECONDS=60
